html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-family: 'Questrial', sans-serif;
    font-size: 125%;
    color: #648b84;
    text-align: center;
}

h1, 
h2, 
h3, 
p, 
button, 
input {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-image: url("assets/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    font-family: 'Shrikhand', cursive;
    text-shadow: 3px 3px 4px #bfd0cc;
    background-color: #ea8387;
    border: 2px solid white;
    border-radius: 60px 60px 20px 20px;
    padding: 10px;
    margin: 60px 0 30px;
}

h2 {
    font-size: clamp(1rem, 3vw, 2rem);
    font-style: italic;
    border: 2px solid white;
    background-color: #ea8387;
    border-radius: 15px 15px 50px 50px;
    padding: 10px;
}

input, 
label,
button, 
.juno-footer a {
    cursor: pointer;
}

fieldset {
    border: none;
    background: #dbe5e8;
    border-radius: 140px;
    opacity: .98;
    margin: 40px 0;
    padding: 20px 25px;
    transition: 0.7s ease-in all;
}

fieldset label {
    font-size: clamp(0.8rem, 3vw, 1.4rem);
}

fieldset p {
    font-size: clamp(0.9rem, 3vw, 1.6rem);
    font-weight: bold;
    text-shadow: 3px 3px 4px #fcf1ed;
}

input, 
label {
    transition: 0.3s ease-in-out all;
}

input {
    accent-color: #648b84;
}

input:hover+label, 
input:focus+label {
    text-shadow: 3px 3px 4px #fcf1ed;
}

button {
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    color: #ea8387;
    background-color: #bfd0cc;
    border: none;
    border-radius: 80px;
    margin: 15px;
    padding: 20px 5px;
    transition: 0.7s;
    width: 50%;
    display: inline-block;
    text-decoration: none;
    transition: background 0.3s ease-in-out, 
    transform 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background-color: #ea8387;
    color: #648b84;
}

button:active {
    transform: scale(0.9);
}

.results {
    display: none;
    border: none;
    background: #bfd0cc;
    border-radius: 140px;
    opacity: .96;
    padding: 10px;
}

.results-container h3 {
    font-family: 'Shrikhand', cursive;
    color: #056e64;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    text-shadow: 1px 1px 1px #dbe5e8;
    transition: 0.3s ease-in all;
}

.results-container h3:hover {
    color: #ea8387;
}

footer {
    color: white;
    font-size: 0.8rem;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.7s;
    margin: 20px;
}

footer p {
    width: 41% auto;
    background-color: #648b84;
    padding: 10px;
    border: none;
    border-radius: 80px;
}

footer a {
    text-decoration: none;
    color: #fcf1ed;    
}

@media (max-width: 525px) {
    .wrapper {
        width: 90%;
    }

    fieldset,
    .results {
        border-radius: 60px;
        padding: 20px;
    }

    fieldset p {
        margin: 10px 0;
    }
}

@media (max-width: 400px){
    button{
        width: 80%;
    }
}